.rootLayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
}

.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
